extends _pug-includes/layout.pug

block vars

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Shop'})
    - var heroHeading = 'Jackets and tops'
    - var heroText = '<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>'
    
    include _pug-includes/inc-hero.pug

    main
        .container
            .row
                - var gridClass = 'col-12 sidebar-none'
                - var itemClass = 'col-xl-3 col-lg-4 col-sm-6'
                - var fashion = true
                
                include _pug-includes/inc-grid.pug
                
    
    include _pug-includes/inc-modal.pug