.block.mb-5
    .block-header
        h6.text-uppercase.mb-0 Order Summary
    .block-body.bg-light.pt-1
        p.text-sm Shipping and additional costs are calculated based on values you have entered.
        
        ul.order-summary.mb-0.list-unstyled
            li.order-summary-item
                span Order Subtotal 
                span $390.00
            li.order-summary-item
                span Shipping and handling
                span $10.00
            li.order-summary-item
                span Tax
                span $0.00
            li.order-summary-item.border-0
                span Total
                strong.order-summary-total $400.00