section.mh-full-screen
    // Circle Slider
    .owl-carousel.owl-theme.circle-slider
        .item.d-flex.align-items-end.bg-gray-100(style="padding-top: 80px;").light-overlay.light-overlay-md-0
            .container.circle-slider-bg(style=`background: right bottom url(${path}img/slider/circle-slider-3.jpg) no-repeat; `)
                .w-100
                    .row.py-5
                        .col-lg-8.py-md-5.py-lg-7.overlay-content
                            h5.text-uppercase.text-danger.mb-3.letter-spacing-5  Special
                            h2.mb-3 Ethnic blouses
                            p.lead.mb-4 Lorem ipsum dolor sit amet.<br>Consectetur adipisicing elit.
                            p 
                                a.btn.btn-outline-dark(href="category.html") View collection
        .item.d-flex.align-items-end.bg-gray-100(style="padding-top: 80px;").light-overlay.light-overlay-md-0
            .container.circle-slider-bg(style=`background: left bottom url(${path}img/slider/circle-slider-2.jpg) no-repeat;`)
                .w-100
                    .row.py-5
                        .col-lg-6.py-md-5.py-lg-7.ml-lg-auto.text-md-right.overlay-content
                            h5.text-uppercase.text-info.mb-3.letter-spacing-5  Just arrived
                            h2.mb-3 Tigerrrs College Jackets
                            p.lead.mb-4 Lorem ipsum dolor sit amet.<br>Consectetur adipisicing elit.
                            p 
                                a.btn.btn-outline-dark(href="category.html") View collection                            
        .item.d-flex.align-items-end.bg-gray-100(style="padding-top: 80px;").light-overlay.light-overlay-md-0
            .container.circle-slider-bg(style=`background: right bottom url(${path}img/slider/circle-slider-1.jpg) no-repeat; `)
                .w-100
                    .row.py-5
                        .col-lg-8.py-md-5.py-lg-7.overlay-content
                            h5.text-uppercase.text-muted.mb-3.letter-spacing-5  Special
                            h2.mb-3 Autumn-colour coats
                            p.lead.mb-4 Lorem ipsum dolor sit amet.<br>Consectetur adipisicing elit.
                            p 
                                a.btn.btn-outline-dark(href="category.html") View collection

    // /Circle Slider

