.col-md-4.text-center.text-md-left
    +svgIcon('navigation-map-1', 'svg-icon-light text-primary w-3rem h-3rem mb-3')

    h4.ff-base Address
    p.text-muted
        | 13/25 New Avenue
        br
        | New Heaven, 45Y 73J
        br
        | England, 
        strong Great Britain

.col-md-4.text-center.text-md-left
    +svgIcon('audio-call-1', 'svg-icon-light text-primary w-3rem h-3rem mb-3')

    h4.ff-base Call center
    p.text-muted Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p.text-muted
        strong +33 555 444 333

.col-md-4.text-center.text-md-left
    +svgIcon('mail-1', 'svg-icon-light text-primary w-3rem h-3rem mb-3')
        
    h4.ff-base Electronic support
    p.text-muted
        | Please feel free to write an email to us or to use our electronic ticketing system.
    ul.list-unstyled.text-muted
        li info@sell.com
        li support@sell.com