// Divider Section
section.py-6.position-relative.light-overlay
    img.bg-image(src="img/photo/benjamin-voros-260869-unsplash.jpg", alt="")
    .container
        .overlay-content.text-center.text-dark
            p.text-uppercase.font-weight-bold.mb-1.letter-spacing-5 Old Collection                  
            h3.display-1.font-weight-bold.text-serif.mb-4 Summer Sales
            a.btn.btn-dark(href="category.html") Shop Now
