// Hero Slider
.owl-carousel.owl-theme.owl-dots-modern.home-slider
    .item.d-flex.align-items-center(style="background: #f8d5cf;")
        img.bg-image(src=path + "img/photo/matheus-ferrero-334418-unsplash.jpg", alt="")
        .container.py-6
            .row
                .col-lg-8.col-xl-6.mx-auto.text-white.text-center
                    h5.text-uppercase.text-white.font-weight-light.mb-4.letter-spacing-5  Just arrived
                    h1.mb-5.display-2.font-weight-bold.text-serif Denim Jackets
                    p.lead.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p 
                        a.btn.btn-light(href="category.html") View collection

    .item.d-flex.align-items-center.bg-dark.dark-overlay
        img.bg-image(src=path + "img/photo/ian-dooley-347942-unsplash.jpg", alt="")
        .container.py-6
            .row
                .col-lg-8.col-xl-6.mx-auto.text-white.text-center.overlay-content
                    h1.mb-4.display-2.text-uppercase.font-weight-bold Skeleton Tees
                    p.lead.mb-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p 
                        a.btn.btn-light(href="category.html") Start shopping

    .item.d-flex.align-items-center
        img.bg-image(src=path + "img/photo/haley-phelps-62815-unsplash.jpg", alt="")
        .container.py-6
            .row
                .col-lg-8.col-xl-6.mx-auto.text-white.text-center
                    h5.text-uppercase.font-weight-light.mb-4.letter-spacing-5  Our bestseller
                    h1.mb-5.display-1.font-weight-bold.text-serif Skinny Jeans
                    p 
                        a.btn.btn-light(href="category.html") View collection