.row
    .col-lg-4.service-column
        +svgIcon('delivery-time-1', 'service-icon')
        .service-text
            h6.text-uppercase Free shipping &amp; return
            p.text-muted.font-weight-light.text-sm.mb-0 Free Shipping over $300
        
    .col-lg-4.service-column
        +svgIcon('money-1', 'service-icon')
        .service-text
            h6.text-uppercase Money back guarantee
            p.text-muted.font-weight-light.text-sm.mb-0 30 Days Money Back Guarantee
        
    .col-lg-4.service-column
        +svgIcon('customer-support-1', 'service-icon')
        .service-text
            h6.text-uppercase 020-800-456-747
            p.text-muted.font-weight-light.text-sm.mb-0 24/7 Available Support