// Top Bar
.top-bar
    .container-fluid
        .row.d-flex.align-items-center
            .col-sm-7.d-none.d-sm-block
                ul.list-inline.mb-0
                    li.list-inline-item.pr-3.mr-0
                        +svgIcon('calls-1', 'mr-2')
                        | 020-800-456-747
                    li.list-inline-item.px-3.border-left.d-none.d-lg-inline-block Free shipping on orders over $300
            
            .col-sm-5.d-flex.justify-content-end
                // Language Dropdown
                .dropdown.border-right.px-3
                    a#langsDropdown.dropdown-toggle.topbar-link(href="#", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        img.topbar-flag(src=path + "img/united-kingdom.svg", alt="english") 
                        | English
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='langsDropdown')
                        a.dropdown-item.text-sm(href='#')
                            img.topbar-flag(src=path + "img/germany.svg", alt="german")
                            | German
                        a.dropdown-item.text-sm(href='#') 
                            img.topbar-flag(src=path + "img/france.svg", alt="french")
                            | French

                // Currency Dropdown
                .dropdown.pl-3.ml-0
                    a#currencyDropdown.dropdown-toggle.topbar-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') USD
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='currencyDropdown')
                        a.dropdown-item.text-sm(href='#') EUR
                        a.dropdown-item.text-sm(href='#')  GBP

// Top Bar End